.header > nav {
	text-transform: capitalize;
	padding: 1.5625rem 0;
	color: black;
	max-width: 15.625rem;
	display: flex;
	justify-content: space-between;
	font-family: Montserrat;
	font-size: 0.7rem;
	letter-spacing: 0.125rem;
}

.header > nav a {
	font-size: 0.875rem;
	position: relative;
	transition: all 0.5s ease-in-out;
}

.header > nav a:hover::before {
	content: "";
	border: 1px solid #363178;
	position: absolute;
	bottom: -5px;
	animation: hover 0.5s forwards;
}

@keyframes hover {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
