.container {
	background-color: black;
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.textContent {
	text-align: center;
}

.textContent__name {
	font-size: calc(3rem + 6 * ((100vw - 20rem) / 680));
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.125rem;
	color: white;
}

.textContent__job {
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 300;
	line-height: 1.0625rem;
	letter-spacing: 6px;
	color: white;
	margin-bottom: 1.25rem;
}

.textContent__btn {
	letter-spacing: 1px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	font-size: 0.75rem;
	padding: 1.1rem 1.875rem;
	top: 10px;
	position: relative;
	border-radius: 5px;
	color: white;
	background-color: #302988;
	transition: background-color 0.2s ease-in-out;
}

.textContent__btn:hover {
	background-color: #383375;
}

.textContent__btn > svg {
	transition: transform 0.2s ease-in-out;
}

.textContent__btn:hover > svg {
	transform: translateX(5px);
}

.textContent__btn > svg {
	width: 15px;
}
