.container {
	margin: 0 auto 25px auto;
	padding: 1.75rem;
	max-width: 90rem;
}

.pageTitle {
	text-transform: capitalize;
	/* color: rgb(71, 69, 69); */
	/* color: rgb(170, 64, 247); */
	color: whitesmoke;
	letter-spacing: 0.5rem;
	margin: 5rem 0;
	font-weight: 300;
	font-size: calc(2.25rem + 6 * ((100vw - 320px) / 250));
}
